<div class="span2_5">
  <div class="text-center social-media">
    <a href="https://plus.google.com/+raghutejaparisa/" target="_blank" class="google">
      Google+
    </a>
  </div>
</div>
<div class="span2_5">
  <div class="text-center social-media">
    <a href="https://www.facebook.com/raghu7593" target="_blank" class="facebook">
      Facebook
    </a>
  </div>
</div>
<div class="span2_5">
  <div class="text-center social-media">
    <a href="https://twitter.com/raghutejaparisa" target="_blank" class="twitter">
      Twitter
    </a>
  </div>
</div>
<div class="span2_5">
  <div class="text-center social-media">
    <a href="https://in.linkedin.com/in/raghutejaparisa" target="_blank" class="linkedin">
      LinkedIn
    </a>
  </div>
</div>