var QuestionGroup = {
  addNewTitle: function (){
    var new_title = '<p class="fieldset"><input class="full-width-with-additional-option has-padding has-border" id="titles_" name="titles[]" placeholder="Title" type="text"><a class="delete-title" href="#"><i class="fa fa-close fa-2x modal-input-extra-button"></i></a></p>'
    $("#more_titles").append(new_title);
    QuestionGroup.deleteTitle();
  },

  deleteTitle: function (){
    $("a.delete-title").click(function (event) {
      $(this).parent().remove()
    });
  },

  addNewOption: function (){
    var new_title = '<p class="fieldset"><input class="full-width-with-additional-option has-padding has-border" id="options_" name="options[]" placeholder="Option" type="text"><a class="delete-option" href="#"><i class="fa fa-close fa-2x modal-input-extra-button"></i></a></p>'
    $("#more_options").append(new_title);
    QuestionGroup.deleteOption();
  },

  deleteOption: function (){
    $("a.delete-option").click(function (event) {
      $(this).parent().remove()
    });
  }
}