var QuestionGroup = {
  addNewTitle: function (){
    var new_title = '<p class="fieldset"><input class="full-width has-padding has-border" id="titles_" name="titles[]" placeholder="Title" type="text"></p>'
    $("#more_titles").append(new_title);
  }
}