/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */


.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-light-green, .9);
  z-index: $modal-zindex;
  overflow-y: auto;
  cursor: pointer;

  visibility: hidden;
  opacity: 0;
  @include transition(opacity .3s 0, visibility 0 .3s);

  &.is-visible {
    visibility: visible;
    opacity: 1;

    @include transition(opacity .3s 0, visibility 0 0);

    .cd-modal-container {
      @include transform(translateY(0));
    }
  }
}

.cd-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  @include border-radius;
  @include transform(translateY(-30px));

  @include transition-property (transform);
  @include transition-duration(.3s);

  .cd-modal-header {
    @include clearfix;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 60px;
    background: $color-dark-green;
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
  }

  @include MQ(S) {
    margin: 4em auto;

    .cd-modal-header a {
      height: 70px;
      line-height: 70px;
    }
  }

  .cd-modal-data {
    max-height: 465px;
    overflow-y: auto;
    background-color: $background;
  }
}